.table {

  &__group {
    border: 1px solid $grey;

    + .table__group {
      border-top: none;

      &--active {
        border-top: 1px solid $grey;
      }
    }

    &:last-child {
      border-bottom: 1px solid $grey;
    }

    &--active {
      @extend .table__group;
      margin: 1rem 0;

      + .table__group {
        border-top: 1px solid $grey;
      }

      .table__info {
        display: block;
      }

      .table__shelf {
        @extend .table__shelf;
        border-top: 1px solid $grey;
        max-height: 500px;
        padding: 1rem 1.5rem;
      }
    }
  }

  &__header, &__info {
    flex: 1;
    padding-right: 1rem;
  }

  &__header {
    align-items: center;
    color: $blue-darker;
    display: flex;
    font-weight: 700;
  }

  &__info {
    display: none;
    font-size: .9rem;
    margin: .25rem 0;
  }

  &__linkable {

    a, button {
      display: none;
    }

    &:hover {
      a, button {
        display: inline;
      }
    }
  }

  &__row {
    align-items: center;
    background: $white;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

    &--active {
      @extend .table__row;
      margin: 1rem 0 0;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .9rem;

    * {
      flex-basis: 50%;
    }

    + * {
      margin-top: 2rem;
    }
  }

  &__shelf {
    background: $grey-lighter;
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5rem;
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-delay: 0;
    transition-property: max-height, padding;
  }

  &__sub-header {
    border-bottom: 1px solid $grey-dark;
    color: $grey-dark;
    font-size: .8rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  &__title {
    color: $grey-dark;
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

}

@media screen and (min-width: 768px) {
  .table {

    &__group--active {
      .table__shelf {
        max-height: 300px;
        padding: 2rem 1.5rem;
      }
    }

    &__row {
      flex-direction: row;
    }

    &__section {
      display: flex;
      flex-direction: row;
    }
  }
}
