.icon {
  display: inline-block;
  height: 20px;
  text-indent: -9999em;
  width: 20px;

  &--environment {
    @extend .icon;
    align-items: center;
    background: $white;
    border: 1px solid $blue-light;
    border-radius: 9999em;
    display: flex;
    justify-content: center;

    &:before {
      background: $blue-darker;
      border-radius: 9999em;
      content: '';
      display: block;
      height: 10px;
      width: 10px;
    }
  }
}
